[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
numpy = "*"
pandas = "*"
sklearn = "*"
matplotlib = "*"
seaborn = "*"
pandas-profiling = "*"
ipywidgets = "*"
xgboost = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
server="jupyter lab"